<div 
  class="d-flex flex-lg-row-reverse justify-content-lg-between" 
  style="padding: 2rem;">
  <h1 class="d-flex flex-lg-row">Damia Smith</h1>
  <span class="d-flex flex-lg-row align-items-end"> artist.maker.teacher</span>
</div>
<div 
  class="d-flex flex-md-row justify-content-around flex-wrap"
  style="padding: 2rem;">
  <div 
    class="d-flex flex-sm-column justify-content-between"
    style="padding: 2rem;">
    <div class="d-flex flex-sm-row">
      <img 
        class="img-fluid" 
        style="width: auto; height: 12rem;" 
        src="https://raw.githubusercontent.com/damiasmith/artist-site/master/src/assets/profligacy.jpg"  
        alt="profiligacy">
    </div>   
    <div 
      class="d-flex flex-sm-row font-weight-bold" 
      style="padding: 2rem;"
      >Profiligacy
    </div>
    <div 
      class="d-flex flex-sm-row" 
      style="max-width: 12rem;">
      A large-scale replica of a pair of Victorian chandelier earring composed of upcycled fabric. It's scale represents the absurdity of wealth and excess.
    </div>
  </div>
  <div 
    class="d-flex flex-sm-column justify-content-between"
    style="padding: 2rem;">
    <div class="d-flex flex-sm-row">
      <img 
        class="img-fluid" 
        style="width: auto; height: 9rem;" 
        src="https://raw.githubusercontent.com/damiasmith/artist-site/master/src/assets/defenseMechanism.jpg"  
        alt="defenseMechanism" 
        routerLink="/">
    </div>
    <div 
      class="d-flex flex-sm-row font-weight-bold" 
      style="padding: 2rem;">
      Defense Mechanism
    </div>
    <div 
      class="d-flex flex-sm-row" 
      style="max-width: 12rem;">
      A piece made from crocheted aluminum and fused steel. It fits uncomfortably on a hand.
    </div>
  </div>
  <div 
    class="d-flex flex-sm-column justify-content-between"
    style="padding: 2rem;">
    <div class="d-flex flex-sm-row">
      <img 
        class="img-fluid" 
        style="width: auto; height: 9rem;" 
        src="https://raw.githubusercontent.com/damiasmith/artist-site/master/src/assets/Self-fulfillingProphecy.jpg"  
        alt="Self-fulfillingProphecy" 
        routerLink="/">
    </div>
    <div 
      class="d-flex flex-sm-row font-weight-bold"
      style="padding: 2rem;">
      Self-fulfilling Prophecy
    </div>
    <div 
      class="d-flex flex-sm-row" 
      style="max-width: 12rem;">
      A container with a removeable brooch for a lid complete with pluckable petals that dangle on chains. It is reminiscent of childhood games and gender-role expectations.
    </div>
  </div>
  <div 
    class="d-flex flex-sm-column justify-content-between"
    style="padding: 2rem;">
    <div class="d-flex flex-sm-row">
      <img 
        class="img-fluid" 
        style="width: auto; height: 9rem;" 
        src="https://raw.githubusercontent.com/damiasmith/artist-site/master/src/assets/AmericanDreams.jpg"  
        alt="AmericanDreams" 
        routerLink="/">
    </div>
    <div 
      class="d-flex flex-sm-row font-weight-bold" 
      style="padding: 2rem;">
      American Dreams
    </div>
    <div 
      class="d-flex flex-sm-row" 
      style="max-width: 12rem;">
      A pair of earrings based on deteriorating houses with beautiful architecture.
    </div>
  </div>
  <div 
    class="d-flex flex-sm-column justify-content-between"
    style="padding: 2rem;">
    <div class="d-flex flex-sm-row">
      <img 
        class="img-fluid" 
        style="width: auto; height: 9rem;" 
        src="https://raw.githubusercontent.com/damiasmith/artist-site/master/src/assets/WildSeeds.jpg"  
        alt="WildSeeds" 
        routerLink="/">
    </div>
    <div 
      class="d-flex flex-sm-row font-weight-bold"
      style="padding: 2rem;">
      Wild Seeds
    </div>
    <div 
      class="d-flex flex-sm-row" 
      style="max-width: 12rem;">
      An intricately pierced silver brooch modeled after QueenAnne's lace with a surprising back.</div>
  </div>
</div>


